body{
    margin: 0;
    padding: 0;
    font: sans-serif;
    background: url(dark.png) no-repeat;
    background-size: cover;
}
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1{
    text-align: center;
    float: center;
    font-size: 40px;
    border-bottom: 0px;
    margin: auto;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 4px 0;
    margin: 4px 0;
    border-bottom: 2px solid  #418d02;
}
.textbox i{
    margin-top: 10px;
    width: 26px;
    float: left;
    text-align: center;
}   
.textbox input{
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 10px;
    border: none;
    outline: none;
    background: none;
    
}
.btn{
    margin-top: 20px;
    width: 100%;
    background: none;
    border: 2px solid #12860c;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
*::-webkit-input-placeholder {
    color: white;
}